.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
}
body {
  margin: 0;
  overflow: hidden;
} /* 여백 제거 및 배경색 추가 */
/*
 * iframe 내부에서 브라우저 기본 커서를 숨깁니다.
 */
html,
body,
#root,
.App,
.App *,
.App canvas {
  cursor: none !important;
}
